@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.form-heading {
    font-family: "roboto";
    font-size: 50px;
    font-weight: 800;
    padding-top: 10px;
    color: black;
    text-align: center;
}

form {
    width: 500px;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
textarea {
    padding: 5px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* Responsive Styles */
@media screen and (max-width: 480px) {
    form {
        max-width: 100%;
    }

    input[type="text"],
    input[type="tel"],
    textarea {
        width: 100%;
    }

    button[type="submit"] {
        width: auto;
    }
}

  .checkbox-label {
      display: block;
      margin-top: 10px;
  }

  .checkbox-label input[type="checkbox"] {
      margin-right: 5px;
  }

                  .popup {
                      display: none;
                      position: fixed;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      background-color: #1896af;
                      padding: 20px;
                      border-radius: 8px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      z-index: 9999;
                      text-align: center;
                  }
        
                  .popup-content {
                      margin-bottom: 10px;
                  }
        
                  .popup-close {
                      display: inline-block;
                      cursor: pointer;
                      color: #888888;
                      font-size: 14px;
                  }
        
                  /* Mobile Responsive Styles */
                  @media only screen and (max-width: 600px) {
                      .popup {
                          width: 80%;
                      }
                  }